# Python
__pycache__/
*.py[cod]
env/
venv/
.venv/
*.sqlite3
.env

# Node
node_modules/
build/
dist/
.env

# Editor
.vscode/
*.log

# Session folder for Flask (if enabled temporarily)
backend/.flask_session/